.skirts{
    width: 100%;
    height: 100vh;
    background-image: url("https://static.massimodutti.net/assets/public/4d24/7001/e16d44dcbdaf/288c50caa479/weveningIdesktop05/weveningIdesktop05.jpg?ts=1730315730359&w=3500");
    background-size: cover;
    background-position: center;
  /* margin-top: 0px; */  
}