.blazzers{
    width: 100%;
    height: 100vh;
    background-image: url("https://static.massimodutti.net/assets/public/738f/e6fe/aa6a4b919013/503fdacacb88/weveningIdesktop04/weveningIdesktop04.jpg?ts=1730313073410&w=3500");
    background-size: cover;
    background-position: center;
  /* margin-top: 0px; */ 
}